<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="">Have an account?</a>
        </p>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <ul
            class="error-messages"
            [hidden]="signUpForm.valid || signUpForm.untouched"
          >
            <li [hidden]="!name.hasError('required')">
              Name is empty.
            </li>
            <li [hidden]="!email.hasError('email')">Wrong email format.</li>
            <li [hidden]="!email.hasError('required')">Email is empty.</li>
            <li [hidden]="!password.hasError('required')">
              Password is empty.
            </li>
            <li [hidden]="!password.hasError('minlength')">
              Password can not be shorter than 6 characters.
            </li>
          </ul>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              name="name"
              required
              formControlName="name"
              placeholder="Your Name"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="email"
              name="email"
              required
              formControlName="email"
              placeholder="Email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              name="password"
              formControlName="password"
              placeholder="Password"
              required
            />
          </fieldset>
          <button
            [disabled]="!signUpForm.valid"
            class="btn btn-lg btn-primary pull-xs-right"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
