<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{dataService.profile?.profile.image}}" class="user-img" />
          <h4>{{dataService.profile?.profile.username}}</h4>
          <p>
            {{dataService.profile?.profile.bio}}
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp; Follow {{dataService.profile?.profile.username}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Favorited Articles</a>
            </li>
          </ul>
        </div>

        <div *ngFor="let d of dataService.listArticle?.articles" class="article-preview">
          <div class="article-meta" >
            <a routerLink="/home/{{d?.author.username}}" routerLinkActive="router-link-active" 
              ><img src="{{d?.author.image}}"
            /></a>
            <div class="info">
              <a routerLink="/home/{{d?.author.username}}" routerLinkActive="router-link-active" class="author">{{d?.author.username}}</a>
              <span class="date">{{d?.createdAt}}</span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> {{d?.favoritesCount}}
            </button>
          </div>
          <a routerLink="/home/article/{{d?.slug}}" class="preview-link">
            <h1>{{d?.title}}</h1>
            <p>{{d?.description}}</p>
            <span>Read more...</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
