<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          <a href="">Need an account?</a>
        </p>

        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <ul
            class="error-messages"
            [hidden]="
              email.valid ||
              email.untouched ||
              password.valid ||
              password.untouched
            "
          >
            <li [hidden]="!email.hasError('email')">Wrong email format.</li>
            <li [hidden]="!email.hasError('required')">Email is empty.</li>
            <li [hidden]="!password.hasError('required')">
              Password is empty.
            </li>
            <li [hidden]="!password.hasError('minlength')">
              Password can not be shorter than 6 characters.
            </li>
          </ul>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="email"
              name="email"
              required
              formControlName="email"
              placeholder="Email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              name="password"
              formControlName="password"
              placeholder="Password"
              required
            />
          </fieldset>
          <button
            class="btn btn-lg btn-primary pull-xs-right"
            type="submit"
            [disabled]="!signInForm.valid"
          >
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
